.MuiCardMedia-root{
  background-size: contain !important;
}
.parent{
  display: flex;
  flex-wrap: wrap;
}
.box-st{
  display: flex;
  justify-content: center;
  background-color: pink;
  margin-top: 4rem ;
}
.slider-style{
  background-image: url('./images/one.jpeg');
    background-color: black;
    background-size: cover;
  color: white;
  width: 100%;
  
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-style>p{
  font-size: 5rem;
  font-weight: bold;

}
.menu{
  height: 450px;
  width: 100%;
  background-color: babypink;
  color:black !important;
}
.makeStyles-card-1{
  width:15rem !important;
}
.menu-c{
  display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category-styling{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cate-srt{
  width: 200px;
  height: 200px;
        display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.makeStyles-media-60,.makeStyles-media-220{
  width: 200px !important;
}
.about-sty{
  margin-top: 30rem ;
  background-color: aquamarine !important;
}
.btn, .btn-outline-success{
  border-radius: 0px !important;
  border: 5px solid;
  width: 30%;
 color: white !important;
 font-weight: bold;
}
.nav{
  height: 3.2rem;
 
  width: 100% !important;
}
a{
  color: black !important;
}
.category-sli{
  background: rgb(0,36,30);
  background: linear-gradient(90deg, rgba(0,36,30,0.989233193277311) 0%, rgba(9,121,31,1) 35%, rgba(0,121,255,1) 100%);
  height: 400px;
  width:100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-color{
  color: white;
  font-weight: 900;
  letter-spacing: 5px;
}
.mealdesc{
  display: flex;
  flex-wrap: wrap;
  
  margin: 1rem;
 
}
.jss139 {
  widows: 200px;
}